@model List<UsuarioModel>
@{
    ViewData["Title"] = "Usuários";
}

<div class="text-center">

    <br/><br/>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Criar" role="button">Adicionar novo usuário</a>
    </div>

    <br /><br />

    @if(TempData["MensagemSucesso"] != null) {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if(TempData["MensagemErro"] != null) {
        <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["MensagemErro"]"
    </div>
    }

    <br/>

    <h1>Usuários do site</h1>
    <br /><br />

    <table id="table-usuarios" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Login</th>
                <th scope="col">Perfil</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

            @if(Model != null && Model.Any()) {
                foreach(var usuario in Model) {

                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Login</td>
                        <td>@(usuario.Perfil == LivrariaVirtual.Enums.PerfilEnum.Admin ? "Admininistrador" : "Padrão")</td>
                        <td>@usuario.DataCadastro</td>
                        
                        <td>

                        <div class="btn-group" role="group">
                            <a role="button" asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-primary">Editar</a>
                            <a role="button" asp-controller="Usuario" asp-action="ApagarConfirmacao" asp-route-id="@usuario.Id" class="btn btn-primary">Apagar</a>
                        </div>

                        </td>

                    </tr>


                }
            } else {
     
                <tr class="odd"><td valign="top" colspan="5">Nenhum usuário encontrado.</td></tr>
            }
        </tbody>

    </table>

</div>